{% extends "base.html" %}

{% block title %}
{{ region.name }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>{{ region.name }}</h1>
    {% include 'modal/add_server.html' %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal_add_server-{{ region.id }}">Add Server</button>
    </div>
    <table class="table table-hover table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Host</th>
            <th scope="col">CPU Used</th>
            <th scope="col">CPU Total</th>
            <th scope="col">Memory Used</th>
            <th scope="col">Memory Total</th>
            <th scope="col">Instance Used</th>
            <th scope="col">Instance Total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for server in servers %}
        <tr>
            <td>{{ server.host }}</td>
            <td>{{ server.cpu }}</td>
            <td>{{ server.cpu }}</td>
            <td>{{ server.memory }}</td>
            <td>{{ server.memory }}</td>
            <td>{{ server.instance }}</td>
            <td>{{ server.instance }}</td>
            <td>
                <a class="btn btn-secondary" href="{{ url_for('server.update', server_id=server.id) }}" role="button">Update</a>
            </td>
            <td>
                <form method="post" class="my-3">
                <a class="btn btn-outline-danger" href="{{ url_for('server.delete', server_id=server.id) }}" role="button">Delete</a>
                <!-- <button type="button" class="btn btn-outline-danger">Delete</button> -->
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
