{% extends "base.html" %}

{% block title %}
{{ region.name }} Trend
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div id="cpu_line">
        </div>
        <div id="memory_line">
        </div>
        <div id="storage_line">
        </div>
    </div>
</div>

<!-- plotly CDN -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    Plotly.plot("cpu_line", {{ line['cpu'] | safe }}, {})
    Plotly.plot("memory_line", {{ line['memory'] | safe }}, {})
    Plotly.plot("storage_line", {{ line['storage'] | safe }}, {})

</script>
{% endblock %}
