{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="container">
    {% for region in regions %}
    <div class="row">
        <h2>{{ region.name }}</h2>
        <div class="col-6 col-md-4", id="{{ region.name }}-1">
        </div>
        <div class="col-6 col-md-4", id="{{ region.name }}-2">
        </div>
        <div class="col-6 col-md-4", id="{{ region.name }}-3">
        </div>
    </div>
    {% endfor %}
</div>


<!-- plotly CDN -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var id_list = [
        "east-1", "east-2", "east-3",
        "west-1", "west-2", "west-3",
        "south-1", "south-2", "south-3",
        "north-1", "north-2", "north-3"
    ]
    // TODO: loop the graphs in Javascript
    // for (i=0;i<id_list.length;i++) {
    //     Plotly.plot(id_list[i], {{ pie[i] | safe }}, {})
    // }

    Plotly.plot(id_list[0], {{ pie[0] | safe }}, {})
    Plotly.plot(id_list[1], {{ pie[1] | safe }}, {})
    Plotly.plot(id_list[2], {{ pie[2] | safe }}, {})

    Plotly.plot(id_list[3], {{ pie[3] | safe }}, {})
    Plotly.plot(id_list[4], {{ pie[4] | safe }}, {})
    Plotly.plot(id_list[5], {{ pie[5] | safe }}, {})

    Plotly.plot(id_list[6], {{ pie[6] | safe }}, {})
    Plotly.plot(id_list[7], {{ pie[7] | safe }}, {})
    Plotly.plot(id_list[8], {{ pie[8] | safe }}, {})

    Plotly.plot(id_list[9], {{ pie[9] | safe }}, {})
    Plotly.plot(id_list[10], {{ pie[10] | safe }}, {})
    Plotly.plot(id_list[11], {{ pie[11] | safe }}, {})
</script>
{% endblock %}
