{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="container">
    {% for region in regions %}
    <div class="row">
        <h2>{{ region.name }}</h2>
        <div class="col-6 col-md-4", id="{{ region.name }}-1">
        </div>
        <div class="col-6 col-md-4", id="{{ region.name }}-2">
        </div>
        <div class="col-6 col-md-4", id="{{ region.name }}-3">
        </div>
    </div>
    {% endfor %}
</div>


<!-- plotly CDN -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var id_list = [
        "east-1", "east-2", "east-3",
        "west-1", "west-2", "west-3",
        "south-1", "south-2", "south-3",
        "north-1", "north-2", "north-3"
    ]

    var graph = [
        {{ pie[0] | safe }}, {{ pie[1] | safe }}, {{ pie[2] | safe }},
        {{ pie[3] | safe }}, {{ pie[4] | safe }}, {{ pie[5] | safe }},
        {{ pie[6] | safe }}, {{ pie[7] | safe }}, {{ pie[8] | safe }},
        {{ pie[9] | safe }}, {{ pie[10] | safe }}, {{ pie[11] | safe }}
    ]

    for (i=0; i < id_list.length; i++) {
        Plotly.plot(id_list[i], graph[i], {})
    }
</script>
{% endblock %}
