{% extends "base.html" %}

{% block title %}
create server
{% endblock %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">Add Server for {{ region.name }}</h5>
    <form method="post" class="my-3">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="host" class="col-form-label">Host</label>
            <input type="text" class="form-control" name="host" id="host">
        </div>
        <div class="mb-3">
            <label for="cpu" class="col-form-label">CPU</label>
            <input type="text" class="form-control" name="cpu" id="cpu">
        </div>
        <div class="mb-3">
            <label for="memory" class="col-form-label">Memory</label>
            <input type="text" class="form-control" name="memory" id="memory">
        </div>
        <div class="mb-3">
            <label for="instance" class="col-form-label">Instance</label>
            <input type="text" class="form-control" name="instance" id="instance">
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>
{% endblock %}
